body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: gray;
  display: flex;
  justify-content: center;
}
#content{
  background-color: black;
  width: 35vw;
  height: 49vw;
}

img{
  position: relative;
  object-fit: cover;
}
#img1{
  width: 21vw;
  height: 27vw;
  top: 3.5vw;
  left: 3.7vw;
}

.lefttext{
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  position: relative;
  font-size: 1.0vw;
  word-spacing: 0.4vw;
  transform: rotate(90deg);
  transform-origin: top left 0;
  margin: 0;
  width: 35vw;
  top: 3vw;
  left: 2.5vw;
}
.toptext{
  color: white;
  position: absolute;
  font-size: 0.45vw;
  font-family: 'Arimo', sans-serif;
  width: 25vw;
  top: 1.5vw;
  left: 35.7vw;
}

#barcode{
  color: white;
  background-color: black;
  padding: 0.8vw;
  z-index: 4;
  position: relative;
  font-family: 'Libre Barcode 39', cursive;
  transform: rotate(90deg);
  font-weight: 0;
  font-size: 3.5vw;
  width: 10vw;
  top: -0.5vw;
  left: 1.4vw;
  float: right;
}

#barcode-label{
  color: white;
  font-family: 'Arimo', sans-serif;
  position: relative;
  transform: rotate(-90deg);
  font-weight: 0;
  font-size: .5vw;
  width: 10vw;
  top: -25.4vw;
  left: 2.7vw;
  float: right;
  z-index: 5;
}

#title{
  color: #a6c8ff;
  z-index: 10;
  position: relative;
  font-family: 'Arimo', sans-serif;
  font-size: 1.5vw;
  float: right;
  text-align: right;
  top: -20.2vw;
  right: 1vw;
  line-height: 0;
}
#bigtxt{
  font-size: 4vw;
}



#botleft{
  top: 5vw;
  left: 2.3vw;
  position: relative;
  line-height: 1.2;
}
h2{
  color: white;
  z-index: 10;
  position: relative;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0.05vw;
  font-size: 1.4vw;
}
h3{
  color: black;
  z-index: 10;
  position: relative;
  font-family: 'Arimo', sans-serif;
  font-size: 1.4vw;
  text-shadow:
	-1px -1px 0 white,
	1px -1px 0 white,
	-1px 1px 0 white,
	1px 1px 0 white;
  font-style: italic;
  letter-spacing: 0.1vw;
  top: -4.9vw;
}
h4{
  color: #a6c8ff;
  position: relative;
  z-index: 100;
  font-size: 1vw;
  top: -3.2vw;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0.05vw;
  width: 30vw;
}

.logo{
  color: white;
  font-family: 'Trispace', sans-serif;
  position: relative;
  font-weight: 0;
  font-size: 1vw;
  letter-spacing: -0.1vw;
  width: 30vw;
  z-index: 3;
}
#lo1{
  transform: rotate(-90deg);
  float: right;
  top: -10.6vw;
  left: 11.3vw;
}
#lo2{
  float: left;
  transform: rotate(90deg);
  top: 14vw;
  right: 1.6vw;
}

#img2{
  width: 18.5vw;
  height:26vw;
  top: -23.5vw;
  left: 14.5vw;
}
